.exploreMain {
    display: flex;
    min-height: 100vh;
    z-index: 1;
}

.exploreDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    color: var(--bg-color);
}

.videoCardsWithFooter {
    display: flex;
    flex-direction: column;
}
