.exploreDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    color: var(--bg-color);
}

.exploreMain {
    display: flex;
    max-width: 100%;
}

.videoCardsWithFooter {
    display: flex;
    flex-direction: column;

}