.exploreMain {
    display: flex;
    flex-direction: row;

}

.exploreDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    color: var(--bg-color);
}

.videoCardsWithFooter {
    display: flex;
    flex-direction: column;
}