.drawerDiv {
    padding: 3rem;
    width: 23rem;
    position: sticky;
    top: 8rem;
}

.drawerList {
    display: flex;
    gap: 2rem;
    padding: 1rem;
}

.drawerUl {
    display: flex;
    gap: 2rem;
    flex-direction: column;
}


.inactive:hover {
    color: var(--primary-color);
}

.active {
    background-color: var(--primary-color);
    color: white;
}

.profileActive:hover {
    color: var(--primary-color);
}

a {
    color: white;
}

.displayBlock {
    display: block;
}

.displayNone {
    display: none;
}


@media screen and (max-width:600px) {
    .sideMenu {
        visibility: hidden;
    }

    .drawerDiv {
        padding: 0.5rem;
        width: 5rem;
    }

}