.mayPlaylistMain {
    display: flex;
}

.playlistPage {
    display: flex;
    gap: 2rem;
    align-items: center;
    flex-direction: column;
}

.allPlaylist {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.createPlaylistDiv {
    display: flex;
    width: 100%;
    justify-content: space-between;
}