.mayPlaylistDiv {
    display: flex;
    background-color: var(--snackbar-bg);
    justify-content: center;
}

.mayPlaylistDiv:hover {
    transform: scale(1.03);
}

.playlistVideoDiv {
    max-width: 100%;
    padding: var(--pd-2rem);
    width: 20rem;
}

.allPlaylistDiv {
    display: flex;
    gap: 3rem;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;
}

.trashIcon {
    padding: 3rem 1.5rem 0.5rem 0.5rem;

}