:root {
  --box-shadow: 0px 0px 7px 0px #94a3b8;
  --search-radius: 10rem;
  --btn-opacity: 0.8;
  --home-footer: #1e293b;
  --infoGreen-color: #388e3c;
  --bodyBg-color: #0c0f12;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: var(--bodyBg-color);
  color: white;
}

input {
  outline: none;
}

.page {
  margin-top: 8rem;
}

.greyColorText {
  color: var(--secondary-color);
}

.cursorPointer {
  cursor: pointer;
}

button{
  cursor: pointer;
}


@media screen and (max-width:1000px) {
  html {
    font-size: 55%;
  }
}

@media screen and (max-width:768px) {
  html {
    font-size: 45%;
  }

}