:root {
  --box-shadow: 0px 0px 7px 0px #94a3b8;
  --search-radius: 10rem;
  --btn-opacity: 0.8;
  --home-footer: #1e293b;
  --infoGreen-color: #388e3c;
  --bodyBg-color: #0c0f12;
  --modal-color: #141414;
  --overlay-color: rgb(0, 0, 0);
  --white-color: white;
  --pd-2rem: 2rem;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: var(--bodyBg-color);
  color: white;
  z-index: -1;
}

input {
  outline: none;
}

.page {
  margin-top: 8rem;
}

.greyColorText {
  color: var(--secondary-color);
}

.cursorPointer {
  cursor: pointer;
}

button {
  cursor: pointer;
}

.btn {
  font-size: 1.5rem;
  color: white;
}

.btnHover:hover {
  opacity: 0.9;
}

.centerText {
  text-align: center;
}

.emptyHeading {
  color: var(--secondary-color);
}

.modalInapp {
  display: flex;
  justify-content: center;

}

.mainPage {
  display: flex;
}

.historyHeadingBtn {
  display: flex;
  gap: 20rem;
  justify-content: space-between;
}

.checkBox {
  width: 1.5rem;
  height: 1.5rem;
}

.pageHeading {
  padding: var(--pd-2rem);
}

.pageDiv{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  padding: var(--pd-2rem);
}

@media screen and (max-width:1000px) {
  html {
    font-size: 55%;
  }
}

@media screen and (max-width:768px) {
  html {
    font-size: 45%;
  }

}